<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

    <!-- define the dependency -->
    <bean id="myNews"
            class="by.chmut.catalog.bean.News">
    </bean>


    <bean id="myCategories"
          class="by.chmut.catalog.bean.Categories">
        <property name="news" ref="myNews" />
    </bean>

    <bean id="myCatalog"
          class="by.chmut.catalog.bean.Catalog">
        <property name="categories" ref="myCategories" />
    </bean>

    <bean id="catalogDAO"
          class="by.chmut.catalog.dao.CatalogDAOImpl">

        <property name="catalog" ref="myCatalog" />
    </bean>

    <bean id="service"
          class="by.chmut.catalog.service.ServiceImpl">

        <!-- set up constructor injection -->
        <constructor-arg ref="catalogDAO" />
    </bean>

    <bean id="searchCommand"
          class="by.chmut.catalog.controller.command.SearchCommand">

        <!-- set up setter injection -->
        <property name="service" ref="service" />

    </bean>

    <bean id="readCommand"
          class="by.chmut.catalog.controller.command.ReadCommand">

        <!-- set up setter injection -->
        <property name="service" ref="service" />

    </bean>

    <bean id="addCommand"
          class="by.chmut.catalog.controller.command.AddCommand">

        <!-- set up setter injection -->
        <property name="service" ref="service" />

    </bean>

    <bean id="saveCommand"
          class="by.chmut.catalog.controller.command.SaveCommand">

        <!-- set up setter injection -->
        <property name="service" ref="service" />

    </bean>

    <bean id="commandDirector"
          class="by.chmut.catalog.controller.CommandDirector">

        <!-- set up constructor injection -->
        <constructor-arg ref="readCommand" />
        <constructor-arg ref="searchCommand" />
        <constructor-arg ref="addCommand" />
        <constructor-arg ref="saveCommand" />
    </bean>


</beans>